/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [kodex]    Script Date: 2017-09-29 5:04:06 PM ******/
CREATE DATABASE [kodex]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kodex', FILENAME = N'C:\Users\bkoser\kodex.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'kodex_log', FILENAME = N'C:\Users\bkoser\kodex_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kodex].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kodex]
GO
USE [kodex]
GO
/****** Object:  Table [dbo].[post]    Script Date: 2017-09-29 5:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](128) NOT NULL,
	[slug] [varchar](128) NOT NULL,
	[body] [nvarchar](max) NULL,
	[description] [nvarchar](256) NULL,
	[datepublished] [datetimeoffset](7) NULL,
	[datepublishedid] [tinyint] NULL,
	[datelastupdated] [datetimeoffset](7) NULL,
	[excerpt] [nvarchar](256) NULL,
	[imageurl] [varchar](1024) NULL,
	[ispublic] [bit] NOT NULL,
	[posttypeid] [tinyint] NOT NULL,
	[rating] [tinyint] NULL,
	[boardgamegeekgameid] [int] NULL,
	[boardgameboximageurl] [varchar](1024) NULL,
	[isaudiobook] [bit] NULL,
	[booktitle] [nvarchar](256) NULL,
	[bookauthor] [nvarchar](256) NULL,
	[isbn] [char](13) NULL,
	[bookdatepublished] [datetimeoffset](7) NULL,
	[bookcoverurl] [varchar](1024) NULL,
	[openlibraryurl] [varchar](1024) NULL,
	[goodreadsbookurl] [varchar](1024) NULL,
	[goodreadsreviewurl] [varchar](1024) NULL,
	[moviereleaseyear] [tinyint] NULL,
	[movieposturl] [varchar](1024) NULL,
	[moviedateviewed] [date] NULL,
	[themoviedburl] [varchar](1024) NULL,
	[letterboxdmovieurl] [varchar](1024) NULL,
	[letterboxdreviewurl] [varchar](1024) NULL,
	[movieplatformid] [tinyint] NULL,
	[noteurl] [varchar](1024) NULL,
	[photoalbumbegindate] [date] NULL,
	[photoalbumenddate] [date] NULL,
	[photoalbumcdnfolderurl] [varchar](1024) NULL,
	[photoalbumcdnzipurl] [varchar](1024) NULL,
	[recipeyield] [nvarchar](64) NULL,
	[recipecomments] [nvarchar](max) NULL,
	[videourl] [varchar](1024) NULL,
 CONSTRAINT [PK_post] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posttype]    Script Date: 2017-09-29 5:04:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posttype](
	[id] [tinyint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](32) NOT NULL,
	[name] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_posttype] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[post] ON 

SET IDENTITY_INSERT [dbo].[post] OFF
SET IDENTITY_INSERT [dbo].[posttype] ON 

INSERT [dbo].[posttype] ([id], [code], [name]) VALUES (1, N'post', N'Post')
INSERT [dbo].[posttype] ([id], [code], [name]) VALUES (2, N'review', N'Review')
INSERT [dbo].[posttype] ([id], [code], [name]) VALUES (3, N'boardgamereview', N'Board Game Review')
SET IDENTITY_INSERT [dbo].[posttype] OFF
ALTER TABLE [dbo].[post]  WITH CHECK ADD  CONSTRAINT [FK_post_posttype] FOREIGN KEY([posttypeid])
REFERENCES [dbo].[posttype] ([id])
GO
ALTER TABLE [dbo].[post] CHECK CONSTRAINT [FK_post_posttype]
GO
USE [master]
GO
