/******************************************************************************
  FONTS
******************************************************************************/



/******************************************************************************
  VARIABLES
******************************************************************************/
:root {
    --primary-color: #f44336;
    --secondary-color: #2196F3;
}

/*****************************************************************************
  ALL
******************************
  *, @viewport
******************************************************************************/
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* + * {
    margin-top: 1.4em;
}

@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}


/******************************************************************************
  SECTIONING AND STRUCTURING
******************************
  html, body, header, footer, nav, main, article, aside, section, p, pre,
  blockquote, figure, figcaption, address, summary, details, div
******************************************************************************/
body {
    margin: 0;
}


/******************************************************************************
  HEADINGS
************
  hgroup, h1, h2, h3, h4, h5, h6
******************************************************************************/



/******************************************************************************
  LISTS
*********
  ul, ol, li, dl, dt, dd, menu, menuitem
******************************************************************************/



/******************************************************************************
  MEDIA
*********
  canvas, object, embed, img, audio, video, track, map, area, iframe
******************************************************************************/



/******************************************************************************
  FORMS
*********
  form, fieldset, legend, label, input, button, select, optgroup, option, 
  datalist, textarea, output
******************************************************************************/



/******************************************************************************
  TABLES
**********
  table, caption, colgroup, col, thead, tfoot, tbody, tr, th, td
******************************************************************************/



/******************************************************************************
  PHRASING
************
  a, strong, em, b, i, u, s, sup, sub, small, abbr, dfn, mark, del, ins, q, 
  cite, data, progress, time, meter, code, var, samp, kbd, keygen, bdi, bdo, 
  ruby, rt, rp, span
******************************************************************************/



/******************************************************************************
  MISCELLANEOUS
*****************
  hr
******************************************************************************/



/******************************************************************************
  HELPER CLASSES
******************************************************************************/



/******************************************************************************
  STYLE CLASSES
******************************************************************************/
.icon {
    display: inline-block;
    fill: currentColor;
    height: 2em;
    stroke: currentColor;
    stroke-width: 0;
    width: 2em;
}


/******************************************************************************
  SIZE CLASSES
******************************************************************************/


/******************************************************************************
  NAVIGATION
******************************************************************************/
.site-header {
    background-color: black;
    color: white;
    padding: 20px 20px 0 20px;
}

.site-header a {
    color: white;
    text-decoration: none;
}

.site-header h1 {
    display: inline-block;
    margin: 0;
}

.header-round-bottom {
    background-color: black;
    border-radius: 0 0 50% 50%;
    margin: 0;
    padding: 10px;
}


/******************************************************************************
  MEDIA QUERIES
******************************************************************************/



/******************************************************************************
  PRINT STYLES
******************************************************************************/
