<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>@ViewData["Title"] · kodex</title>
        <meta name="description" content="The personal website of Brian Koser, Melissa Koser, Lydia Koser, and Amber Koser">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#4f93f9">

        <meta property="og:url" content="http://koser.us">
        <meta property="og:title" content="Home">
        <meta property="og:description" content="The personal website of Brian Koser, Melissa Koser, Lydia Koser, and Amber Koser">
        <meta property="og:image" content="http://koser.us/tile.png">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        
        <environment include="Development">
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <header role="banner" class="site-header">
            <h1 class="site-title"><a href="/">kodex</a></h1>
            <a href="#menu" class="menu-link">
                <svg class="icon icon-search">
                    <use xlink:href="/symbol-defs.svg#icon-search"></use>
                </svg>
            </a>
        </header>
        <div class="header-round-bottom">&nbsp;</div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2017 - kodex</p>
            </footer>
        </div>

        <environment include="Development">
            <script src="~/js/site.js" asp-append-version="true"></script>
            @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
        </environment>
        <environment exclude="Development">
            @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>*@
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
    </body>
</html>
